# Any Node Modules
node_modules/

# Environment Variables
.env
.env.prod

# Cached Build
cache/
out/

# IDE's
.vscode/
.idea

# huffc artifacts
artifacts

# Ignore flattened files
flattened.txt

# Ignore Broadcasts
broadcast

